<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Billing_Tab.Manage_Bill_Run</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>e_ViewAutoTestRefreshBillRuns</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>y_InstantBillRun_Subscriber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_ViewManage_BillRun_Tab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>h_CreateTestBillRun</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>b_ClickManage_BillRun_Tab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>g_ViewInstantBill_SubscriberBillRun</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d_ViewAllFullBillRuns</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>z_InstantBillRun_Account</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>c_ViewAllTestBillRuns</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>f_ViewInstantBill_AccountBillRun</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>j_CreateAutoTestRefreshBillRun</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>x_CreateFullBillRun</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stop</td>
<td>&nbsp;</td></tr>
</table>
